
.content{
    background-color: #52d2d2;
    flex-grow: 1;
    

}
.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.page-container {
    max-width: 960px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px #0000000d;
}
.main-layout {
    min-height: 100vh;
    display: flex
;
    flex-direction: column;
    background-color: #f4f7f6;
}